{{!-- add header partial --}}

<nav>
    <a href="/new">Put a pet up for adoption</a>
</nav>

<div>
    <h2>Pets avaliable to adopt</h2>

    {{#each pets}}
    {{#unless isAdopted}}
    <div>
        {{name}} | {{breed}}
        <a href="/pets/{{id}}">Click here</a>
    </div>
    {{/unless}}
    {{/each}}

</div>

<hr>

<div>
    <h2>Recently rehomed pets</h2>

    {{#each pets}}
    {{#if isAdopted}}
    <div>
        {{name}} | {{breed}}
        <a href="/pets/{{id}}">Click here</a>
    </div>
    {{/if}}
    {{/each}}


</div>
{{!-- add footer partial --}}
