{{!-- add header partial --}}

<nav>
    <a href="/new">Put a pet up for adoption</a>
</nav>


<h2>Pets avaliable to adopt</h2>

<div class="container">
    {{#each pets}}
    {{#unless isAdopted}}
    <div class="pet">
        <img src="{{image}}" alt="{{name}}">
        <a href="/pets/{{id}}">
        <span class="pet-name">{{name}}</span> | {{breed}}
        </a>
    </div>
    {{/unless}}
    {{/each}}
</div>

<hr>

<div>
    <h2>Recently rehomed pets</h2>

<div class="container">
    {{#each pets}}
    {{#if isAdopted}}
    <div class="pet">
        <img src="{{image}}" alt="{{name}}">
        <a href="/pets/{{id}}">
        <span class="pet-name">{{name}}</span> | {{breed}}
        </a>
    </div>
    {{/if}}
    {{/each}}
</div>
{{!-- add footer partial --}}