{{!-- header --}}
<nav>
    <a href="/">Back to home</a>
    <a href="/new">Put a pet up for adoption</a>
</nav>

<h3>My name is: {{name}}</h3>


{{#if isAdopted}}
<h4>And I have been adopted by {{owner}}!</h4>
{{/if}}

<img src="{{image}}" alt="{{name}}" class="pet-image">

<p>Age: {{age}} | {{breed}} | {{sex}}</p>

<p>Likes: {{likes}}</p>
<p>About me: {{backstory}}</p>

{{#unless isAdopted}}
<h4>Adopt me</h4>
<form action="/pets/:id" method="POST" class="form">

<label for="fname">First Name</label>
<input type="text" name="fname" id="fname">

<label for="lname">Last Name</label>
<input type="text" name="lname" id="lname">

<label for="email">Email Address</label>
<input type="email" name="email" id="email">

<label for="isAdopted"></label>
<input type="hidden" name="isAdopted" id="isAdopted">

<label for="id"></label>
<input type="hidden" name="id" id="id" value="{{id}}">

<button>Adopt me</button>

</form>
{{/unless}}


